nav{
	background-color: $color_nav;
	box-shadow: $nada;
	.rosa{
		@include botones();
	}
	.rosa:hover {
		@include botones();
	}
	.rosa:hover, .rosa:focus, .rosa:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	.brand-logo{
		margin-left:$mar_left_nav;
		font-size: 1.3em;
	}
	.collapsible-header{
		color:$color_text_drop;
	}
}

body{
	background-color: $color_fondo;
}

.dropdown-content  li a{
	color:$color_text_drop;
}

.slider{
	position: $abso;
	top: $cero;
	left: $cero;
	z-index: -1;
	ul li h1{
		font-weight: $negrita;
		margin-top: $alto_h1;
	}

	ul li h6{
		margin-top: $alto_sub;
	}

	ul li a{
		@include botones();
		margin-top: $alto_sub;
	}
	ul li a:hover{
		@include botones();
	}
	ul li a:hover, ul li a:focus, ul li a:active{
		-webkit-transform: scale(1.1);
	  	transform: scale(1.1);
	}
}

.contenedor{
	position: $abso;
	top:80vh;
	background-color: #fff;
	width:90%;
	margin-left: 5%;
	border-radius: 10px;
	box-shadow:#eeeeee;
	.texto-inicio, .iconos{
		margin-top: 5vh;
	}
	.imagenbn{
		background-image: url(../img/img_city.jpg);
		background-size: cover;
		padding: 5% 3%;
		.videobn{
			margin-top: 7%;
		}
	}
	.products{
		background-color:#f0f0f0;
		padding:5% 3%;
		.titulopro{
			margin-top:5vh;
		}
	}
	.portafolio{
		background-color:#fff;
		padding:5% 3%;
	}
	.team{
		background-color:#fff;
		padding:5% 3%;
	}
	.plan{
		background-color:#f0f0f0;
		padding:5% 3%;
	}
	.clientes{
		background-color:#fff;
		padding:5% 3%;
	}
	.subs{
		background-image: url(../img/about.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding:5% 3%;
	}
	.blog{
		background-color:#fff;
		padding:5% 3%;
	}
	.get{
		background-image: url(../img/img_city.jpg);
		background-size: cover;
		padding: 5% 3%;
	}
	.close{
		background-color: #323437;
		padding:5% 3%;
	}

	ul li{
		display: inline-block;
		list-style: none
	}

}
