nav{
	background-color: $color_nav;
	box-shadow: $nada;
	.rosa{
		@include botones();
	}
	.rosa:hover {
		@include botones();
	}
	.rosa:hover, .rosa:focus, .rosa:active {
	  -webkit-transform: scale(1.1);
	  transform: scale(1.1);
	}
	.brand-logo{
		margin-left:$mar_cinco;
		font-size: 1.3em;
	}
	.collapsible-header{
		color:$color_text_drop;
	}
}

body{
	background-color: $color_fondo;
}

.dropdown-content  li a{
	color:$color_text_drop;
}

.slider{
	position: $abso;
	top: $cero;
	left: $cero;
	z-index: -1;
	ul li h1{
		font-weight: $negrita;
		margin-top: $alto_h1;
	}

	ul li h6{
		margin-top: $alto_sub;
	}

	ul li a{
		@include botones();
		margin-top: $alto_sub;
	}
	ul li a:hover{
		@include botones();
	}
	ul li a:hover, ul li a:focus, ul li a:active{
		-webkit-transform: scale(1.1);
	  	transform: scale(1.1);
	}
}

.contenedor{
	position: $abso;
	top:80vh;
	background-color: $blanco;
	width:90%;
	margin-left: $mar_cinco;
	border-radius: $borde;
	box-shadow:$color_gris_ee;
	.texto-inicio{
		margin-top: $alto_sub;
		color:$color_p_sub;

	}
	.iconos{
		margin-top: $alto_sub;
		.fa-th{
			color:$color_btn;
		}
		.fa-th-list{
			color:$color_cel
		}
		.fa-reorder{
			color:$color_ver;
		}
		h5{
			color:$color_subti;
			font-weight:$negrita;
			font-size:$tam_uno
		}
		p{
			color:$color_p_sub;
		}
		
	}
	.imagenbn{
		background-image: url(../img/img_city.jpg);
		background-size: cover;
		padding: 5% 3%;
		background-attachment: fixed;
		h3, p{
			color:$blanco
		}
		.videobn{
			margin-top: 7%;
		}
	}
	.negro{
		background-color:rgba(0,0,0,1);
	}
	.products{
		@include padd-g();
		.titulopro{
			margin-top:$alto_sub;
			h4{
				color:$color_titulos;
				font-weight:$negrita;
			}
			p{
				color:$color_p_sub;
			}
		}
		.card{
			padding: $mar_cinco;
			border-radius: $radio;
			
			.card-image{
				margin-top:$mar_neg;
				position:static;
				img{
					border-radius: $radio;
				}
			}
			h6{
				color:$color_btn;
				font-weight:$negrita;
			}
			h4{
				color:$color_titulos;
				font-weight:$negrita;
				font-size:$tam_unotres;
			}
			p{
				color:$color_p_sub;
			}
			.valor{
				color:$color_p_sub;
				margin-top: 20px;
			}
		}
	}
	.portafolio{
		@include padd-w();
		h4{
			color:$color_titulos;
			font-weight:$negrita;
		}
		p{
			color:$color_p_sub;
		}
		img{
			border-radius: $radio;
		}
	}
	.team{
		@include padd-w();
		h4,h6{
			color:$color_titulos;
			font-weight:$negrita;
		}
		p{
			color:$color_p_sub;
		}
		.fa{
			margin: $mar_cinco;
		}	
		.fa-facebook{
			color:$color_fb;
		}
		.fa-google-plus{
			color:$color_gmail;
		}
		.fa-twitter{
			color:$color_twitter;
		}
		.fa-linkedin{
			color:$color_in;
		}
		.fa-pinterest{
			color:$color_pin;
		}
		.fa-dribbble{
			color:$color_drib;
		}
		.fa-github-square{
			color:$color_text_drop;
		}
	}

	.plan{
		background-color:#f0f0f0;
		padding:5% 3%;
	}
	.clientes{
		background-color:#fff;
		padding:5% 3%;
	}
	.subs{
		background-image: url(../img/about.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding:5% 3%;
	}
	.blog{
		background-color:#fff;
		padding:5% 3%;
	}
	.get{
		background-image: url(../img/img_city.jpg);
		background-size: cover;
		padding: 5% 3%;
	}
	.close{
		background-color: #323437;
		padding:5% 3%;
	}

	ul li{
		display: inline-block;
		list-style: none;
	}

}
