nav{
	background-color: $color_nav;
}

body{
	background-color: $color_fondo;
}

.slider{
	position: $abso;
	top: $cero;
	left: $cero;
	z-index: -1;
	ul li h1{
		font-weight: $negrita;
		margin-top: $alto_h1;
	}

	ul li h6{
		margin-top: $alto_sub;
	}

	ul li a{
		background-color: $color_btn;
		margin-top: $alto_sub;
	}
}

.contenedor{
	position: $abso;
	top:80vh;
	background-color: #fff;
	width:90%;
	margin-left: 5%;
	border-radius: 10px;
	box-shadow:#eeeeee;
	.texto-inicio, .iconos{
		margin-top: 5vh;
	}
	.imagenbn{
		background-image: url(../img/img_city.jpg);
		background-size: cover;
		padding: 5% 3%;
		.videobn{
			margin-top: 7%;
		}
	}
	.products{
		background-color:#f0f0f0;
		padding:5% 3%;
		.titulopro{
			margin-top:5vh;
		}
	}
	.portafolio{
		background-color:#fff;
		padding:5% 3%;
	}
	.team{
		background-color:#fff;
		padding:5% 3%;
	}
	.plan{
		background-color:#f0f0f0;
		padding:5% 3%;
	}
	.clientes{
		background-color:#fff;
		padding:5% 3%;
	}
	.subs{
		background-image: url(../img/about.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding:5% 3%;
	}

}
