//Colores

$color_nav: transparent;
$color_fondo: #dedede;
$color_text_drop: #333;
$nada: none;
$color_btn: #e91e63;
$color_sect:#f0f0f0;
$blanco: #fff;
$color_p_sub: #999;
$color_subti:#3c4858;
$color_cel:#00bcd4;
$color_ver:#4caf50;
$color_gris_ee: #eeeeee;
$color_titulos:#3c4858;
$color_fb:#3d5a99;
$color_gmail:#de5241;
$color_twitter:#55acee;
$color_in:#137bb7;
$color_pin:#ce2a30;
$color_drib:#ee6fa0;
//Medidas
$cero: 0;
$alto_slide: 70vh;
$alto_btn: 8vh;
$alto_h1: 20vh;
$alto_sub: 5vh;
$pad_sect: 5% 3%;
$pad_btn: 10px 40px;
$mar_cinco: 5%;
$borde: 10px;
$mar_neg: -15%;
$radio: 4%;


//Posiciones
$abso: absolute;


//Fuentes
$negrita: bold;
$tam_uno: 1em;
$tam_unotres: 1.2em;