//Colores

$color_nav: transparent;
$color_fondo: #dedede;
$color_text_drop: #333;
$nada: none;
$color_btn: #e91e63;
$color_sect:#f0f0f0;
$blanco: #fff;

//Medidas
$cero: 0;
$alto_slide: 70vh;
$alto_btn: 8vh;
$alto_h1: 20vh;
$alto_sub: 5vh;
$pad_sect: 5% 3%;
$pad_btn: 10px 40px;
$mar_left_nav: 5%;


//Posiciones
$abso: absolute;

$negrita: bold;